* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  border: none;
}

:root {
  --dark-gray: #383838;
  --strong-orange: #ff5400;
  --text-white: #d2d2d2;
  --text-white-header: #b5b5b5;
  --hover-strong-orange: #c04000;
  --hover-dark-gray: #2a2a2a;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.hidden {
  display: none !important;
}

.text-white {
  color: var(--text-white);
}

.dark-gray {
  color: var(--dark-gray);
}

.strong-orange {
  color: var(--strong-orange);
}

.orange-hover:hover {
  background-color: var(--hover-strong-orange);
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--strong-orange);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover-strong-orange);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@50;100;200&display=swap");

body {
  overflow: hidden;
}

#body-flex {
  display: flex;
  flex-direction: row;
}

#fence-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 10;
  background-color: rgb(41, 41, 41, 0.6);
}

.alert-window {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 20vh;
  background-color: var(--dark-gray);
  border-radius: 10px;
  color: var(--text-white);
}

.alert-header {
  display: flex;
  justify-content: center;
  background-color: var(--strong-orange);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 0;
}

.alert-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 20px 0;
}

.alert-button button {
  background-color: var(--strong-orange);
  padding: 5px;
  border-radius: 5px;
  color: var(--text-white);
  cursor: pointer;
}

.navbar,
.map-control {
  max-width: 20vw;
  min-width: 20vw;
  background-color: var(--dark-gray);
  color: var(--text-white);
}

.web-logo,
.map-control-header {
  background-color: var(--strong-orange);
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  -webkit-box-shadow: 0px -6px 20px 14px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -6px 20px 14px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -6px 20px 14px rgba(0, 0, 0, 0.5);
}

.web-logo {
  gap: 10px;
}

.navbar svg {
  height: 20px;
}

.navbar-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-header {
  margin-top: 50px;
  color: var(--text-white-header);
}

.navbar-item,
.navbar-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 25px;
}

.navbar-header {
  padding-bottom: 5px;
}

.navbar-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-item:hover {
  background-color: var(--hover-dark-gray);
  cursor: pointer;
}

.cattle-counting img {
  padding: 0;
  margin: 0;
  height: 25px;
  width: 25px;
}

.map-flex {
  width: 100%;
}

.map-control-header b {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 40px;
}

.tab-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 100%;
}

.map-latlng-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-top: 10%;
}

.controls-header {
  color: var(--text-white-header);
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.control-item {
  margin-top: 20px;
}

.map-fence-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.map-latlng-button-flex {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-top: 10px;
}

input[type="text"] {
  border-radius: 7px;
}

.map-latlng-control button {
  padding: 5px;
  background-color: var(--strong-orange);
  color: var(--text-white);
  border-radius: 5px;
}

.map-pos-table {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table-coords-data {
  padding-left: 35px;
}

#polygon-coords {
  width: 100%;
  height: min-content;
  word-wrap: break-word;
  color: var(--text-white);
  font-size: 14px;
}

.control-padding {
  padding-left: 20px;
  padding-right: 20px;
}
